* {
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: white;
}

h1 {
  font-size: 800;
}

.notification {
  color: hsl(219, 12%, 42%);
  background-color: hsl(211, 68%, 94%);
  margin: inherit;
  border-radius: 8px;
}

.avatar {
  width: 35px;
}

.username {
  color: black;
  font-weight: bold;
}

.username:hover {
  color: hsl(219, 85%, 26%);
  cursor: pointer;
}

.time-stamp {
  color: hsl(219, 14%, 63%);
}
