* {
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: white;
  margin: 20px;
}

.main-container {
  background-color: white;
}

.notification-title {
  display: inline-block;
  font-size: larger;
  font-weight: 800;
}

.notification-number {
  background-color: hsl(219, 85%, 26%);
  color: white;
  border-radius: 7px;
  font-size: medium;
  padding: 1px 10px;
  margin: 6px;
}

.mark-all-as-read {
  background-color: white;
  color: hsl(219, 12%, 42%);
  border: none;
  font-family: "Plus Jakarta Sans";
  font-size: medium;
  float: right;
  cursor: pointer;
}

.mark-all-as-read:hover {
  color: hsl(219, 85%, 26%);
}

.notification-container {
  background-color: hsl(211, 68%, 94%);
  color: hsl(219, 12%, 42%);
  border-radius: 8px;
  margin: 15px 0px;
  padding: 0px 20px 15px;
}

.read {
  background-color: white;
  color: hsl(219, 12%, 42%);
  border-radius: 8px;
  margin: 15px 0px;
  padding: 0px 20px 15px;
}

.unread {
  background-color: hsl(211, 68%, 94%);
  color: hsl(219, 12%, 42%);
  border-radius: 8px;
  margin: 15px 0px;
  padding: 0px 20px 15px;
}

.red-dot {
  color: red;
}

.notification-text {
  padding: 0px 43px;
}

.avatar {
  width: 40px;
  height: 40px;
  position: relative;
  top: 35px;
}

.woman-playing-chess {
  width: 40px;
  height: 40px;
  position: relative;
  top: 25px;
  float: right;
}

.avatar:hover {
  cursor: pointer;
}

.woman-playing-chess:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.25rem hsl(219, 14%, 63%));
}

.username {
  color: black;
  font-weight: bold;
  margin: 5px;
}

.username:hover {
  color: hsl(219, 85%, 26%);
  cursor: pointer;
}

.time-stamp {
  color: hsl(219, 14%, 63%);
  padding: 5px 48px 0px;
}

.notification-highlights {
  cursor: pointer;
  font-weight: bold;
  margin: 3px;
}

.notification-highlights:hover {
  color: hsl(219, 85%, 26%);
}

.club-name {
  color: hsl(219, 85%, 26%);
  font-weight: bold;
  cursor: pointer;
  margin: 3px;
}

.private-message {
  border: solid 1px hsl(219, 14%, 63%);
  border-radius: 5px;
  margin: 15px 40px;
  padding: 15px;
}

.private-message:hover {
  background-color: hsl(211, 68%, 94%);
  border: solid 1px white;
}

@media screen and (min-width: 1440px) {
  body {
    background-color: aliceblue;
    margin: 20px;
  }

  .main-container {
    padding: 12px;
    width: 75%;
    border-radius: 10px;
    margin: 90px;
  }
}
